.fa-user{
    padding: 10px 11px;
    background-color: rgb(255 255 255);
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid rgb(255, 255, 255);
    color: #01010f;

}
.search-form input{
    background-color: rgb(255, 255, 255);
    border:0;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    height: 50px;
    font-size: 20px;
    border-radius: 0;
    color: white !important;
}
.search-form input:focus{
    background-color: rgb(33, 33, 33);
    border: 0;
    box-shadow: none;
    outline: 0;
}
.search-form button{
    font-size: 20px;   
    font-weight: 600;
    border-radius: 0;
}
.search-form input::placeholder{
    color: rgb(129, 129, 129);
    font-weight: 100;
}
.navbar-brand{
    color: white;
}
.navbar{
    background-color: #01011c !important;
}
select{
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: 0 !important
}

.form-select:focus {
    border: none;
    outline: 0;
    box-shadow: none !important;
}

.search-form input:focus{
    background-color: white !important;
    color: rgb(48, 48, 48) !important;
}

select {
    background: #01011c !important;
    border: 0 !important;
    padding: 12px 20px;
    color: white !important;
}