.loader{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .spinner-grow{
    margin: 3px;
}

.status{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%,-50%);
}